/*COLOR VARIABLES*/

$black: #000;
$white: #FFF;
$strong-red: #af0101;
$overlayRed: #af01016A;
$dark-red: #830302; 
$lighterBlack: #1f1f1f;

/*FONT VARIABLES*/

$source-code-pro: 'Source Code Pro', monospace;

/*SIZE VARIABLES*/

$full-width-element-on-desktop: calc(100vw - 64px);
$full-width-element-on-mobile: calc(100vw - 32px);
$full-view-height-element-on-desktop: calc(100vh - 128px);
$full-height-element-on-mobile: calc(100vw - 64px); 
$large-container-width: 1200px;