#getToKnowMe{
  position: relative;
  padding-right: 128px;

  .container{
    position: relative;
  }

  h2{
    text-align: left;
  }

  .pfpImage{
    width: 100%;
    border-radius: 100%;
  }

  .col{
    width: 50%;
    flex-shrink: 0;
  }

  .getToKnowMeDescription{
    font-size: 1.4em;
  }

  .socialIcons{
    display: flex;
    position: absolute;
    flex-direction: column;
    gap: 1em;
    margin-top: 1em;
    height: calc(100%);
    border: 2px solid $strong-red;
    border-radius: 8px;
    width: 64px;
    right: -116px;
    top: 0px;
  }
}