header{
  padding: 32px 32px;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  color: $strong-red;
  display: flex;
  justify-content: center;

  .container{
    align-items: center;
    display: flex;
    justify-content: space-between;;
  }

  .logo{
    font-size: 1.6rem;
    font-family: "Source Code Pro", sans-serif;
    cursor: default;
    font-weight: 600;

    @include mobile{
      display: none;
    }
  }

  nav{
    ul{
      display: flex;
      list-style-type: none;
      gap: 16px;
      justify-content: center;

      @include mobile{
        flex-direction: column;
      }

      a{
        color: $strong-red;
        font-weight: 600;
        text-decoration: none;;
        position: relative;
        font-size: 1.1rem;

        @include mobile{
          font-size: 1.4rem;
        }

        &::after{
          content: '';
          position: absolute;
          width: 0%;
          height: 2px;
          background-color: $strong-red;
          bottom: -4px;
          left: 0;
          transition: 0.3s ease-in-out;
        }

        &:hover{
          &::after{
            width: 100%;
          }
        }
      }
    }

    @include mobile {
      position: absolute;
      top: 0;
      left: -100vw;
      padding: 16px;
      width: 100vw;
      height: 100vh;
      background-color: $black;
      transition: 0.5s;
    }
  }
}