#whatICanDoForYou {
  padding: 128px 32px;

  @include mobile {
    padding: 64px 16px 32px;
  }

  svg {
    height: 80px;
    margin-bottom: 16px;
  }

  p {
    max-width: 450px;
  }

  .whatIcanDoForYouGrid {
    margin-top: 32px;
    display: grid;
    grid-template-columns: 1fr 1fr; /* duas colunas com tamanhos iguais */
    grid-template-rows: auto auto; /* duas linhas automáticas */
    grid-template-areas: 
      "whatIDoOne whatIDoOne"
      "whatIDoTwo whatIDoThree";
    position: relative;

    @include mobile {
      grid-template-columns: 1fr; /* uma coluna */
      grid-template-rows: auto auto auto; /* três linhas automáticas */
      grid-template-areas: 
        "whatIDoOne"
        "whatIDoTwo"
        "whatIDoThree";
    }
  }

  .whatICanDoForYouColumn {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 32px;
    position: relative;
  }
  
  .whatIcanDoForYouColumnOne {
    grid-area: whatIDoOne;
  }
  
  .whatIcanDoForYouColumnTwo {
    grid-area: whatIDoTwo;
  }
  
  .whatIcanDoForYouColumnThree {
    grid-area: whatIDoThree;
  }
  
  .whatIcanDoForYouColumnTwo,
  .whatIcanDoForYouColumnThree{
    padding-top: 128px;

    @include mobile{
      padding: 0 0 32px;
    }
  }

  .whatICanDoForYouBorder{
    display: inline-block;
    position: absolute;
  }

  .whatICanDoForYouLeftHorizontalBorder,
  .whatICanDoForRightHorizontalBorder{
    position: absolute;
    top: calc(50% - 20px);
    width: 400px;
    height: 2px;
    transform-style: preserve-3d;
    will-change: transform;

    .whatICanDoForYouBorderInnerColor{
      width: 0;
      height: 100%;
      background-color: $strong-red;
      display: inline-block;
    }
  }

  .whatICanDoForYouLeftHorizontalBorder{
    right: calc(50% - 17px);
    transform: rotate(20deg);
  }

  .whatICanDoForRightHorizontalBorder{
    left: calc(50% - 17px);
    transform: rotate(-20deg) rotateY(-180deg);
  }

  .whatICanDoForVerticalBorder{
    right: 50%;
    top: calc(50% + 62px);
    height: 300px;
    width: 2px;
    rotate: 180deg;

    .whatICanDoForYouBorderInnerColor{
      background-color: $strong-red;
      width: 100%;
      display: inline-block;
      height: 0;
    }
  }
}