.animate-up{
    animation-name: up;
    animation-duration: 0.5s;
    animation-fill-mode: backwards;
    animation-timing-function: ease-out;
}

@keyframes up{
    from {
        opacity: 0;
        transform: translateY(16px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes givepad{
    from{
        padding: 0;
    }to{
        padding: 10px;
    }
}

.project:hover{
    animation-name: givepad;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
    animation-delay: 0.4s;
}