@keyframes up{
    from {
        opacity: 0;
        transform: translateY(16px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-up{
    animation-name: up;
    animation-duration: 0.5s;
    animation-fill-mode: backwards;
    animation-timing-function: ease-out;
}