@keyframes up{
    from {
        opacity: 0;
        transform: translateY(16px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes left{
    from {
        opacity: 0;
        transform: translateX(-20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes right{
    from {
        opacity: 0;
        transform: translateX(20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.animate-up{
    animation-name: up;
    animation-duration: 0.5s;
    animation-fill-mode: backwards;
    animation-timing-function: ease-out;
}

.logo{
    animation-name: left;
    animation-duration: 0.5s;
    animation-fill-mode: backwards;
    animation-timing-function: ease-out;
}

.menu{
    animation-name: right;
    animation-duration: 0.5s;
    animation-fill-mode: backwards;
    animation-timing-function: ease-out;
}