*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:  'Raleway', sans-serif;
}

@font-face{
    font-family: Quantum;
    src: url('/assets/font/Quantum.otf');
}

.container{
    max-width: 1440px;
    width: 100%;
}

h1{
    text-align: center;
}

h2{
    text-transform: uppercase;
    text-align: center;
    color: #FFF;
    margin-bottom: 50px;
    letter-spacing: 4px;
    font-size: 33px;
}

h3{
    
    font-size: 31.5px;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

h4{
    font-size: 22px;
}

h5{
    font-size: 20px;
    margin-bottom: 10px;
}

section{
    padding: 50px 20px;
}

/*header*/

header{
    background-color: #D43F52;
    text-transform: uppercase;
    font-weight: bold;
    color: #FFF;
    padding: 30px 20px;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-size: 28px;
    color: #000;
    font-weight: normal;
    margin-top: -6px;
    font-family: 'Quantum', 'Raleway', sans-serif;
    letter-spacing: 3px;
    margin-right: 15px;
}

.menu ul{
    display: flex;
}

.menu ul li{
    list-style-type: none;
    position: relative;
    margin-left: 15px;
}

.menu ul li::after{
    content: "";
    width: 102%;
    position: absolute;
    left: 0;
    height: 4px;
    bottom: -31px;
    transition: 0.2s;
}

.menu ul li:hover::after{
    background-color: #FFF;
}

.menu ul a{
    text-decoration: none;
    color: #FFF;
    padding: 10px 5px;
}

/*banner section*/

#banner {
    height: calc(100vh - 82px);
    max-width: 100vw;
    max-width: 100vw;
    background-image: url(../images/banner_bg2.png);
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    padding: 0;
}

#banner div{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFF;
}

#banner h1{
    color: #D43F52;
    font-size: 60px;
    animation-delay: 0.1s;
    line-height: 55px;
}

#banner p{
    margin-top: 15px;
    font-size: 30px;
    animation-delay: 0.3s;
}

/*about*/

#about{
    background-color: #1a1a1a;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    color: #FFF;
}

#about h3,
#about strong{
    color: #D43F52;
}

#about p{
    line-height: 22px;
}

#about .container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(374px, 1fr));
    align-items: center;
    justify-content: center;
}

/*add media queries for xsmall devices*/

#about a{
    display: inline-block;
    margin-top: 30px;
    text-decoration: none;
    font-weight: bold;
    color: #D43F52;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-size: 19px;
    padding: 15px 30px;
    border: 2px solid #D43F52;
    transition: 0.2s;
    max-height: 100vh;
}

#about a:hover{
    background-color: #D43F52;
    color: #FFF;
}

#about img{
    max-width: 100%;
}

/*serviços*/

#services{
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#services .container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 72px;
    justify-content: space-between;
}

.service{
    display: flex;
    color: #999;

}

.iconHolder{
    height: 50px;
    width: 50px;
    margin-right: 32px;
    padding: 10px 15px;
    border: 1px solid #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #D43F52;
}

.iconHolder img{
    height: 40px;
    width: 40px;
}

.service h4{
    color: #FFF;
    margin-bottom: 12px;
}

.service p{
    line-height: 20px;
    font-size: 14px;
}

@media (max-width: 1063px){
    #services h4{
        width: 100px;
    }
}

@media (min-width: 683px) and (max-width: 805px){
    #services .container{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 682px){
    #services .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .service{
        width: 340px;
    }
}

/*projects section*/

#projects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1a1a1a;
}

#projects .container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

@media (max-width: 682px){
    #projects .container{
        grid-template-columns: 1fr;
    }
}

.project{
    color: #FFF;
    height: 300px;
    background-image: url(../images/projects/awax.png);
    background-position: center;
    background-size: cover;
    text-align: center;
}

.project div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(212, 63, 82, .8);
    height: 100%;
    opacity: 0;
    transition: 0.4s;
}

.project:hover div{
    opacity: 1;
}

.project img{
    height: 20px;
}

.project p{
    font-size: 14px;
}

.project a{
    margin-right: 10px;
    text-decoration: none;
    color: #FFF;
    letter-spacing: 2px;
}

.starbucks{
    background-image: url(../images/projects/starbucks.png);
}

.fylo{
    background-image: url(../images/projects/fylo.png);
}

.medicenter{
    background-image: url(../images/projects/medicenter.png);
}