*{
    margin: 0;
    padding: 0;
}

body{
    font-family:  'Raleway', sans-serif;
}

@font-face{
    font-family: Quantum;
    src: url('/assets/font/Quantum.otf');
}

.container{
    max-width: 1440px;
    padding: 20px 20px;
}

header{
    background-color: #D43F52;
    text-transform: uppercase;
    font-weight: bold;
    color: #FFF;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-size: 28px;
    color: #000;
    font-weight: normal;
    margin-top: -6px;
    font-family: 'Quantum', 'Raleway', sans-serif;
    letter-spacing: 3px;
    margin-right: 15px;
}

.menu ul{
    display: flex;
}

.menu ul li{
    list-style-type: none;
    position: relative;
    margin-left: 15px;
}

.menu ul li::after{
    content: "";
    width: 102%;
    position: absolute;
    left: 0;
    height: 4px;
    bottom: -21px;
    transition: 0.2s;
}

.menu ul li:hover::after{
    background-color: #FFF;
}

.menu ul a{
    text-decoration: none;
    color: #FFF;
    padding: 10px 5px;
}

/*banner section*/

#banner {
    height: calc(100vh - 62px);
    width: 100vw;
    background-image: url(../images/banner_bg2.png);
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
}

#banner div{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFF;
}

#banner h1{
    color: #D43F52;
    font-size: 60px;
    animation-delay: 0.1s;
}

#banner p{
    margin-top: 15px;
    font-size: 30px;
    animation-delay: 0.3s;
}

